.App {
  font-family: sans-serif;
}

.MoviesList {
  margin: auto;
  justify-content: center;
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}

.movie-container {
  background-color: #f9f9f9;
  width: 300px;
  margin: 20px;
}

.newmovie {
  width: 100%;
  padding: auto;
  text-align: center;
  justify-content: center;
  background-color: white;
  display: block;
}

.newmovieentry {
  width: 80%;
  margin: 3% auto;
  padding: auto;
  text-align: center;
  justify-content: center;
  background-color: white;
  display: block;
}

.inputfield {
  margin: 20px 10px;
  padding: 5px 25px;
  border: 1px solid #cccccc;
  border-radius: 15px;
  height: 30px;
  width: 250px;
}

.poster {
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.button {
  margin: 15px;
}

.expand-button {
  border: none;
  background-color: white;
  margin: auto 3px;
}

.movie-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.movie-summary {
  text-align: justify;
  margin: 5px;
}

.movie-detail-spec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 10px 20%;
}

.movie-detail-summary {
  text-align: justify;
  margin: 10px 20%;
}

.movie-name {
  margin: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.movie-ratings {
  margin: 10px 5px;
}

.like-dislike {
  margin: 15px 0px;
}

.errorimg {
  width: 100vw;
  height: 90vh;
  margin: auto 0px;
  text-align: center;
  justify-content: center;
  object-fit: cover;
}
